version: '3.8'

services:
  backend:
    build: 
      context: ./backend
    container_name: pystock_backend
    volumes:
      - ./backend:/app
    ports:
      - "8005:8000"
    environment:
      - DATABASE_URL=mysql+pymysql://${DB_USER}:${DB_PASSWORD}@db:3306/${DB_NAME}
      - REDIS_URL=redis://redis:6379/0
      - ZAI_API_KEY=${ZAI_API_KEY}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_HOST=db
      - ADMIN_IDS=${ADMIN_IDS}
      - TESTER_ACCESS_CODE=${TESTER_ACCESS_CODE}
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  bot:
    build: 
      context: ./bot
    container_name: pystock_bot
    volumes:
      - ./bot:/app
    environment:
      - BACKEND_API_URL=http://backend:8000
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
    depends_on:
      - backend

  db:
    image: mysql:8.0
    container_name: pystock_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    container_name: pystock_redis
    ports:
      - "6380:6379"

volumes:
  mysql_data:
  redis_data:
