fastapi==0.109.2
uvicorn==0.27.1
httpx
slowapi
requests
websocket-client
sqlalchemy==2.0.27
pymysql
cryptography
asyncpg==0.29.0
python-dateutil
python-dotenv
aioredis
redis
pandas
yfinance
numpy
smartapi-python
pyotp
logzero
TA-Lib

