[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"
watchPatterns = ["**"]

[deploy]
startCommand = "python main.py"
numReplicas = 1
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3